.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}

.info {
	display: flex;
	flex-direction: column;
}

.infoBlock {
	display: flex;
	flex-direction: row;
	align-items: center;

	text-align: left;

	border: 1px solid #CC2A41;
}

.infoBlockText {
	display: flex;
	flex-direction: column;
	gap: 28px;

	padding: 110px 64px 110px 64px;
}

.infoBlockText h2 {
	font-size: 54px;
	font-weight: 400;

	color: #CC2A41;
}

.infoBlockText p {
	font-size: 24px;
	color: black;
}

.imageInfo {
	max-width: 510px;

	border-left: 1px solid #CC2A41;
}

/*---------------------------------------------------------------------------------------------*/
/*                                  MEDIA MIN_WIDTH                                            */
/*---------------------------------------------------------------------------------------------*/

@media (min-width: 360px) {
  .infoBlock {
		flex-direction: column;
	}

	.infoBlockText {
		padding: 20px;
		gap: 15px;
	}

	.infoBlockText h2 {
		font-size: 35px;
	}

	.infoBlockText p {
		font-size: 16px;
	}

	.imageInfo {
		max-width: 350px;

		border: none;
	}
}

@media (min-width: 720px) {
	.infoBlock {
		flex-direction: row;
	}

	.infoBlockText h2 {
		font-size: 40px;
	}

	.infoBlockText p {
		font-size: 20px;
	}

	.imageInfo {
		border-left: 1px solid #CC2A41;
	}
}

@media (min-width: 950px) {
	.infoBlock {
		flex-direction: row;
		gap: 30px;
	}

	.infoBlockText {
		padding: 30px 64px 30px 64px;
	}

	.infoBlockText h2 {
		font-size: 54px;
	}

	.infoBlockText p {
		font-size: 24px;
	}

	.imageInfo {
		max-width: 510px;
		border-left: 1px solid #CC2A41;
	}
}
