

.footerTitle > h2 {
  font-size: 80px;
  font-weight: 400;
  color: rgba(204, 42, 65, 1);

  text-align: center;

	margin: 153px 0 40px 0;
}

/*---------------------------------------------------------------------------------------------*/
/*                                  MEDIA MIN_WIDTH                                            */
/*---------------------------------------------------------------------------------------------*/

@media (max-width: 510px) {
	.footerTitle > h2 {
		font-size: 50px;
	}
}
