.prevArrow, .nextArrow {
  width: 56px;
  height: 56px;
	background-image: url(../../../assets/Slider2/IMAGE4.png);
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.prevArrow:before, .nextArrow:before {
  content: '';
  width: 10px;
  height: 10px;
}

.prevArrow {
  left: -60px;
}

.nextArrow {
  right: -60px;
}

.prevArrow:hover,
.nextArrow:hover {
	background-color: white;
	background-image: url(../../../assets/Slider2/IMAGE4.png);
	background-repeat: no-repeat;
	background-position: center;
}

.slick-prev, .slick-next {
  z-index: 1;
}
