@font-face {
  font-family: "Roboto";
  src: url(../../../public/font/Roboto-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../public/font/Roboto-Bold.woff2);
  font-weight: 400;
}

.mainContainer {
  font-family: 'Roboto';
  font-size: 30px;
  color: black;
  text-align: center;
  background-color: #FEC77E;

  /*для удобства разделяем шрифты, флексы, отступы и др пробелом*/
  /*например я разделила выше пробелом стили шрифтов и отступ*/
}

/*---------------------------------------------------------------------------------------------*/
/*                                  MEDIA MIN_WIDTH                                            */
/*---------------------------------------------------------------------------------------------*/

@media (min-width: 480px) {
  .mainContainer {
    font-size: 35px;
    color: blue;
  }
}

@media (min-width: 720px) {
  .mainContainer {
    font-size: 40px;
    color: darkslategrey;
  }
}

@media (min-width: 1200px) {
  .mainContainer {
    font-size: 40px;
    color: rebeccapurple;
  }
}

@media (min-width: 1440px) {
  .mainContainer {
    font-size: 45px;
    color: hotpink;
  }
}
