.wrapper {
	padding: 20px 0 0;

	background-color: #FEC77E;
	border-bottom: 1px solid black;
}

.wrapperContent {
	display: flex;
	justify-content: space-between;
	align-items: center;

	max-width: 1440px;
	margin: 0 auto;

	font-size: 19px;
	font-weight: 700;
}

.navigation {
	display: flex;

	gap: 23px;
}

.navigationItem {
	color: black;
	text-decoration: none;
}

.navigationItem:hover {
	color: #CC2A41;
	text-decoration: underline;
}

.button {
	font-size: 16px;
	font-weight: 700;

	padding: 13px 23px 14px;

	color: #ECE9E9;
	background-color: #CC2A41;
	border-radius: 10px;
	border: 1px solid #CC2A41;
}

.button:hover {
	color: #CC2A41;
	background-color: #ECE9E9;
}

.button:active {
	-webkit-box-shadow: 0px 0px 5px 1px #cc2a429c;
	-moz-box-shadow: 0px 0px 5px 1px #cc2a429c;
	box-shadow: 0px 0px 5px 1px #cc2a429c;
}
